#event-preview {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    overflow: hidden;

    .top {
        height: 40px;
    }

    .code {
        margin: 0px;
        flex: 1 0 auto;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        margin-bottom: 3px;
    }
}

#monaco-editor {
    flex: 1;
}