.switch {
    width: 40px;
    height: 23px;
    background-color: rgb(56, 56, 56);
    border-radius: 15px;
    padding: 4px 4px;
    cursor: pointer;
    transition: 200ms;

    &:hover {
        opacity: .9;
    }

    &.switch-off {
        background-color: #464646 !important;

        >div {
            transform: translateX(16px);

        }
    }

    >div {
        transition: 200ms;
        height: 16px;
        width: 16px;
        border-radius: 15px;
        background-color: white;
    }
}

#side-bar {
    width: 280px;
    height: 100%;
    border-right: 1px solid rgba(128, 128, 128, 0.089);
    display: none;
    overflow: hidden;
    flex-direction: column;
    transition: width var(--transition-ui);

    > div {
        min-width: 280px !important
    }

    @media screen and (max-width: 700px) {
        width: 240px;

        > div {
            min-width: 240px !important
        }
    }

    &.visible {
        display: flex;
    }

    &.hidden {
        display: flex;
        width: 0px;
    }

    &.none {
        display: none;
    }

    .filter {
        position: relative;
        display: flex;
        padding: 8px;

        >input {
            font-size: .8rem;
            padding-right: 36px;
            height: 30px;
            border-radius: 5px;
            background-color: var(--bg-color-light);
        }

        .icon {
            position: absolute;
            right: 0;
            z-index: 10;
            margin-right: 10px;
        }
    }

    .items {
        flex: 1;
        min-width: 0;
        padding: 5px 8px 0 8px;
        overflow: auto;
        overflow-x: hidden;
        margin-bottom: 1px;

        .storage-instance {
            min-height: 40px;
            background-color: var(--bg-color-light);
            border-radius: 6px;
            padding: 8px;
            margin-bottom: 5px;
            font-size: 1rem;
            border: 1px solid transparent;
            transition: 200ms;

            &.selected {
                border-color: var(--main-color);
            }

            .top {
                display: flex;
                justify-content: space-between;

                .mute8-button {
                    height: 30px;
                    width: 30px;
                }
            }

            .stats {
                font-size: .85rem;
                color: var(--white-darkest);

                span {
                    color: var(--main-color-dark);
                }
            }
        }

    }

}