#timeline-top-controlls {
    display: flex;
    gap: 5px;
    padding: 1px;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    z-index: 400;

    &.hidden {
        opacity: .001;
    }
}