#timeline-top-controlls {
    width: 160px;
    height: 46px;
    border-radius: 20px;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;

    &.hidden {
        opacity: .001;
    }
}