
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66px;
    background-color: var(--main-color-dark);
    transition: height 200ms;

    span {
        transition: 100ms;
    }

    &.small {
        height: 2px;
        > * {
            opacity: 0;
        }
    }
}

