#logo-baner {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;

    > div {
        box-sizing: border-box;
        width: 100%;
        height: 200px;
        background-color: rgb(38 38 38);
        border-radius: var(--border-radious);
        margin: 0 auto;
        outline: 4px solid var(--main-color);
        transition: 300ms;

        > .img {
            width: 200px;
            height: 200px;
            margin: auto;
            background: var(--logo-dark) center no-repeat;
            background-size: contain;
        }
    }
}