
#top-bar {
    height: 60px;
    background-color: var(--gray-color);
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#small-logo {
    height: 32px;
    width: 80px;
    background: var(--logo-dark);
    background-size: contain;
    background-repeat: no-repeat;
  }