:root {
  --main-color: #FF004C;
  --main-color-dark: #d3003f;
  --main-color-darkest: #b30036;

  --bg-color: #1B1B1D;
  --bg-color-dark: #1E1E1E;

  --white-darkest: #b3b3b3;
  --gray-color-light: #4a4c4e;
  --gray-color: #242526;
  --gray-color-dark: #1a1b1b;
  --gray-color-dark-05: #1a1b1b80;

  --border-radious: 15px;
  --logo-dark: url("https://paweljastrzebski.github.io/mute8/img/logo-dark.svg");
  --logo-light: url("https://paweljastrzebski.github.io/mute8/img/logo-light.svg");
  --main-gradient: linear-gradient(0deg, #db0042 0%, #FF004C 100%);
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  color: white;
  background: var(--bg-color);
}

#root {
  height: 100vh;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;

  .body {
    height: 0px;
    width: 100%;
    min-width: 0;
    flex: 1;
    display: flex;
  }
}


.icon {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  display: flex;
  cursor: pointer;
  transition: 200ms;
  position: relative;

  &.flip-x {
    transform: rotateZ(180deg);
  }

  &:hover>svg {
    opacity: .75;
  }

  >* {
    margin: auto;
  }
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 12px;
  border: 2px solid transparent;
  outline: none;
  background-color: var(--gray-color);
  color: white;

  &:focus,
  &:hover {
    border-color: var(--main-color);
  }
}

.tooltip-style {
  display: block;
  background-color: var((--gray-color));
  border-radius: 5px;
  color: white;
  font-size: .9rem;
  position: absolute;
  padding: 5px 8px;
  white-space: nowrap;
  opacity: 0;
  border: 1px solid var(--main-color);
  z-index: 99999;
  visibility: hidden;
}

// tooltip
[data-tooltip]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}

[data-tooltip]:after {
  content: attr(data-tooltip);
  bottom: -1.6em;
  left: 90%;
  @extend .tooltip-style;
}

[data-tooltip] {
  position: relative;
}

[data-tooltip-left]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}

[data-tooltip-left]:after {
  content: attr(data-tooltip-left);
  bottom: -1.6em;
  right: 90%;
  @extend .tooltip-style;
}

[data-tooltip-left] {
  position: relative;
}


// ScrollBar

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  padding: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: var(--gray-color-light);
  border: 0px none #ffffff;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:active {
  background: var(--main-color-dark);
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}