:root {
  --main-color: #FF004C;
  --main-color-dark: #d3003f;
  --main-color-darkest: #b30036;

  --bg-color: #1B1B1D;
  --bg-color-dark: #1E1E1E;

  --gray-color: #242526;

  --border-radious: 15px;
  --logo-dark: url("https://paweljastrzebski.github.io/mute8/img/logo-dark.svg");
  --logo-light: url("https://paweljastrzebski.github.io/mute8/img/logo-light.svg");
  --main-gradient: linear-gradient(0deg, #db0042 0%, #FF004C 100%);
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  color: white;
  background: var(--bg-color);
}

#root {
  height: 100vh;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;

  .body {
    height: 0px;
    width: 100%;
    min-width: 0;
    flex: 1;
    display: flex;
  }
}


.icon {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  display: flex;
  cursor: pointer;
  transition: 200ms;

  &.flip-x {
    transform: rotateZ(180deg);
  }

  &:hover {
    opacity: .75;
  }

  >* {
    margin: auto;
  }
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 12px;
  border: 2px solid transparent;
  outline: none;
  background-color: var(--gray-color);
  color: white;

  &:focus,
  &:hover {
    border-color: var(--main-color);
  }
}